<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/test.js"></script>


<head>
    <meta charset="UTF-8">
    <title>POME</title>
</head>
<body lang="en">

<!-- NAVIGATION BAR -->
<label class="btn btn-default">
    Settings
</label>

<label class="btn btn-default">
    Upload <input id="files" type="file" multiple, hidden/>
</label>

<label class="btn btn-default">
    Help
</label>

<div class="container-fluid">

    <div class="row border">
        <div class="col-sm-2">

            <span id="myTags"></span>

        </div>

        <!-- put your content here -->
        <div class="col-sm-10">

            <!--<div class="backgoundImage">
                <ul id="images"></ul>
            </div> -->
            <output id="result" />

        </div>
    </div>

</div>

</body>
</html>